<ion-header>

  <ion-navbar>
    <ion-title>QuizArt</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <ion-grid>
    <ion-row align-items-center>
      <ion-col class="center" align-self-center>       
        <h2 class="feedback">
          {{(answerIsCorrect === true) ? "Muito bem!" : "Aaahh... resposta errada!"}}
        </h2>
        <ion-img class ="img" *ngIf="answerIsCorrect === false"
          width="150" height="150" src="https://firebasestorage.googleapis.com/v0/b/quizart-6eed4.appspot.com/o/sad.png?alt=media&token=9ad4f4a0-3e00-4675-b861-be1a403a19a4">
        </ion-img>
        <ion-img class ="img" *ngIf="answerIsCorrect === true"
          width="150" height="150" src="https://firebasestorage.googleapis.com/v0/b/quizart-6eed4.appspot.com/o/happy.png?alt=media&token=20c8bb0f-0fd0-4acf-88bf-a60f9c55ecd6">
        </ion-img>
        <h5 class="feedback" *ngIf="answerIsCorrect === false">
          A resposta correta era: <br> "{{correctAnswer}}"
        </h5>
        <div class="center">
          <button ion-button (click)="nextQuiz()">
            {{(currentIndex+1 === totalQuizNum) ? "Mostre-me quantas eu acertei!" : "Próxima!"}}
          </button>
        </div>
      </ion-col>    
    </ion-row>
  </ion-grid>
</ion-content>
